<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>【实时】新浪财经新闻</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="alternate" type="application/rss+xml" title="Recent Entries" href="https://cdn.jsdelivr.net/gh/JerichoDing/sina-rss@1.1/dist/rss.xml">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/JerichoDing/sina-rss@1.1/dist/favicon.ico">
    <style>
      p {
        max-width: 50rem;
      }
      li {
        margin: 1rem;
      }
    </style>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h2 class="title"> 全球实时财经新闻 </h2>
      <ol class="list"></ol>
    </div>
  </section>
  </body>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/JerichoDing/sina-rss@1.1/dist/page.js"></script>
</html>

